<div class="hero-top-panel hero-top-image">
  <div class="hero-top-text">
    <h2>
      IHCC's team of professional business advisors is passionate about helping entrepreneurs
    </h2>
    <h4> 
      If you're looking to start or grow your business, <strong>we can help.</strong>
    </h4>
    <div class="social-block">
      Connect with us:
      {{fa-icon "facebook"}}
      {{fa-icon "twitter"}}
      {{fa-icon "linkedin"}}
    </div>
  </div>
</div>

